@charset "utf-8";
/* CSS Document */
/*
    __                                                       
   /  -,              |\         _-_-                   |\   
  ||   )               \\          /,                    \\  
 ~||---)  _-_  ,._-_  / \\         || __    _-_  ,._-_  / \\ 
 ~||---, || \\  ||   || ||        ~||-  -  || \\  ||   || || 
 ~||  /  ||/    ||   || ||         ||===|| ||/    ||   || || 
  |, /   \\,/   \\,   \\/         ( \_, |  \\,/   \\,   \\/  
-_-  --~                                `                    
                                                             
 ___                                               ____  
-   ---___-                              ,/   /\\  `  || 
   (' ||            _                   //   || ||    /, 
  ((  ||     _-_   < \, \\/\\/\\       ((_-   \ /    //  
 ((   ||    || \\  /-|| || || ||       || ))  /\\   ((   
  (( //     ||/   (( || || || ||       (( || // \\  ||   
    -____-  \\,/   \/\\ \\ \\ \\        \//  || ||  |'   
                                              \\/        
*/
/*
Theme Name: nh                      
Theme URI: http://wordpress.org/             
Description: 
Author:   
Version:0.9
License: 
License URI: see above ^
Tags:
*/

html, head{
	min-height:100%;
}

.full{
	margin:0;
	background-repeat:no-repeat;
	background-position:bottom right;
	background-attachment:scroll;
	min-height:720px;
	background-image:url(images/optimizedbg.png);
}

@font-face{
	font-family: sego;
	src: url(fonts/segoeui.ttf),
		 url(fonts/segoeui.eot);
}

@font-face{
	font-family: sego;
	font-weight: bold;
	src: url(fonts/segoeuib.ttf),
		 url(fonts/segoeuib.eot);	
}

@font-face{
	font-family: sego;
	font-style: italic;
	src: url(fonts/segoeuii.ttf),
		 url(fonts/segoeuii.eot);	
}

i, em{
	font-family:sego;
	font-style: italic;
}

a:link{
	text-decoration:none;
	color:#FFF;
}

a:visited{
	text-decoration:none;
	color:#FFF;
}

a:active{
	text-decoration:none;
	color:#FFF;
}

a:hover{
	text-decoration:none;
	color:#FFF;
}

body{
	font-family: sego, "Century Gothic", Helvetica, Arial, sans-serif;
	background-color:#000;
	height:100%;
	margin:0;
	padding:0;
	min-width:1280px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

.currentli{
	cursor:pointer;
	background-color:#19A2DE;
}

.main_cont #sidebar li.currentli ul.sub a.currentsubhref{
	 background-color:#000;
	 cursor:pointer;
	 color:#19a2de;
}

.main_cont #sidebar li.currentli ul.sub{
	display:block;
}

::selection{
	color:#19A2DE; /* Safari */
}

.main_cont{
    position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1280px;
	height:auto;
}

#header{
	position:relative;
	width:100%;
	min-height:120px;
	margin-bottom:30px;
}

.main_cont #pre_title{
	position:absolute;
	top:25px;
	left:10px;
	width:250px;
	height:25px;
	font-size:18px;
	color:#FFF;
}

.main_cont #header #logo_row{
	position:absolute;
	top:0px;
	right:0px;
	width:350px;
	height:120px;
	padding-right:0px;
	background-image:url(images/logo_blue.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.main_cont #logo_row a{
	display:block;
	width:350px;
	height:120px;
}

.main_cont #title{
	position:absolute;
	height:75px;
	top:35px;
	left:10px;
	font-size:72px;
	color:#FFF;
}

.main_cont #sidebar{
	position:absolute;
	left:10px;
	padding:0;
	padding-bottom:50px;
	margin:0;
	font-size:24px;
	color:#FFF;
	width:225px;
}

.main_cont #sidebar a{
	display:block;
	width:225px;	
}

.main_cont #sidebar ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.main_cont #sidebar li:hover{
	cursor:pointer;
	background-color:#19A2DE;
}

.main_cont #sidebar li ul.sub{
	display:none;
	background-color:#000;
	color:#FFF;
	font-size:20px;
	padding-left:10px;
}

.main_cont #sidebar li ul.sub li:hover{
	background-color:#000;
	color:#19A2DE;
}

.main_cont #sidebar li ul.sub li a:hover{
	background-color:#000;
	color:#19A2DE;
}

.main_cont #sidebar #social{
	position:relative;
	margin-top:10px;
}

.main_cont #sidebar #social #facebook{
	position:absolute;
	left:0px;
	top:0px;
	width:42px;
	height:42px;
	background-image:url(images/facebook.png);
}

.main_cont #sidebar #social #facebook a, .main_cont #sidebar #social #twitter a, .main_cont #sidebar #social #youtube a{
	position:absolute;
	left:0px;
	top:0px;
	width:42px;
	height:42px;
}

.main_cont #sidebar #social #twitter{
	position:absolute;
	left:52px;
	top:0px;
	width:42px;
	height:42px;
	background-image:url(images/twitter.png);
}

.main_cont #sidebar #social #youtube{
	position:absolute;
	left:104px;
	top:0px;
	width:42px;
	height:42px;
	background-image:url(images/twitter.png);
}

.main_cont #sidebar #social #git{
	position:absolute;
	left:156px;
	top:0px;
	width:42px;
	height:42px;
	background-image:url(images/twitter.png);
}

/*
.main_cont #sidebar li:hover ul.sub{
	display:block;
	background-color:#000;
}
*/

.black{
	background-color:#000;
}

.text{
	color:#FFF;
	overflow:hidden;
	position:absolute;
	max-height:50px;
	padding-top:195px;
	padding-left:5px;
	font-size:36px;
}

.blue{
	color:#19a2DE;
}

.nav-previous:hover{
	background-color:#19a2de;
}

.nav-next:hover{
	background-color:#19a2de;
}

.nav-next, .nav-previous{
	width:925px;
	display:block;
}

.large{
	font-size:32px;
	color:#FFF;
}

h2{
	font-family:sego, "Century Gothic", Helvetica, Arial, sans-serif;
	font-size:32px;
	color:#FFF;
	font-weight:normal;
}

hr{
	color:#19a2de;
}

p{
	margin:0px;
}

.title{
	font-family:sego, "Century Gothic", Helvetica, Arial, sans-serif;
	font-size:32px;
	color:#FFF;
}

.underline{
	text-decoration:underline;
}

.xlarge{
	font-size:100px;
}

.links{
	color:#FFF;
}

.links:hover{
	text-decoration:underline;
	color:#19A2DE;
}

.video{
	position:absolute;
	top:0px;
	right:0px;
}


.toast{
	position:fixed;
	display:none;
	font-size:15px;
	height:20px;
	width:100%;
	min-width:1300px;
	background-color:#19a2de;
	margin: 0 0 0 0;
	top:0px;
	left:0px;
	color:#FFF;
	overflow:hidden;
}

.toast #ttext{
	position:relative;
	width:1280px;
	height:20px;
	left:auto;
	right:auto;
	margin-left:auto;
	margin-right:auto;	
}

.x{
	position:fixed;
	right:10px;
	top:0px;
	width:5px;
	cursor:pointer;
	z-index:2;
}

.s_tile{
	position:absolute;
	width:250px;
	height:250px;
	top:0px;
	left:0px;
	cursor:pointer;
	background-color:#19a2de;
	overflow:hidden;
}

.s_tile .text{
	width:250px;
	height:250px;
}

.l_tile{
	position:absolute;
	width:510px;
	height:250px;
	top:0px;
	left:0px;
	cursor:pointer;
	background-color:#19A2DE;
	overflow:hidden;
}

.l_tile .text{
	width:510px;
	height:250px;
}

.t_l_image{
	position:relative;
	clear:left;
	left:0px;
	top:0px;	
}

.t_l_text{
	position:absolute;
	float:right;
	top:0px;
}

#body{
	position:relative;
}

.content{
	position:relative;
	color:#FFF;
	left:245px;
	padding-top:0px;
	top:0px;
	min-height:535px;
	width:925px;
}

.main_cont .content img.alignright {float:right; margin:0 0 1em 1em}
.main_cont .content img.alignleft {float:left; margin:0 1em 1em 0}
.main_cont .content img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.main_cont .content a img.alignright {float:right; margin:0 0 1em 1em}
.main_cont .content a img.alignleft {float:left; margin:0 1em 1em 0}
.main_cont .content a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.main_cont .content img.right { padding: 4px; margin: 0 0 2px 7px; display: inline; }
.main_cont .content img.left { padding: 4px; margin: 0 7px 2px 0; display: inline; }

.main_cont .content div.alignright {float:right; margin:0 0 1em 1em}
.main_cont .content div.alignleft {float:left; margin:0 1em 1em 0}
.main_cont .content div.aligncenter {display: block; margin-left: auto; margin-right: auto}
.main_cont .content a div.alignright {float:right; margin:0 0 1em 1em}
.main_cont .content a div.alignleft {float:left; margin:0 1em 1em 0}
.main_cont .content a div.aligncenter {display: block; margin-left: auto; margin-right: auto}
.main_cont .content div.right { padding: 4px; margin: 0 0 2px 7px; display: inline; }
.main_cont .content div.left { padding: 4px; margin: 0 7px 2px 0; display: inline; }
/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #999;
	text-align: center;
	background-color: #999;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	color:white;
	text-align:center !important;
	font-size: 15px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */

.main_cont .content #logs .s_tile{
	background-image:url(images/logs.png);
}

.main_cont .content #thenerds .s_tile{
	position:relative;
	left:260px;
	background-image:url(images/nerdfais.png);
}

.main_cont .content #outreach .s_tile{
	left:520px;
	background-image:url(images/outreach.png);
}

.main_cont .content #theherd .l_tile{
	position:relative;
	top:10px;
	background-image:url(images/nhtilescroll.png);
}

.main_cont .content #sponsors .s_tile{
	top:260px;
	left:520px;
	background-image:url(images/Boeing.png);
}

.main_cont #vex .content{
	color:white;
}

.push{
	position:relative;
	height:150px;
}

.footer{
	visibility:hidden;
	min-width:1280px;
	height:53px;
	margin-top:-32px;
	left:0px;
	right:0px;
}

.clear{
	clear:both;
}

#footer{
	position:absolute;
	left:0px;
	right:0px;
	font-size:24px;
	width:100%;
}

#footer #footertext{
	position: relative;
	width:1280px;
	margin-left:auto;
	margin-right:auto;
}

.p_footer{
	position:absolute;
	height:20px;
	margin-top:1px;
	padding:0;
	left:0px;
	right:0px;
	color:#FFF;
	font-size:10px;
	background-color:#19a2de;
	min-width:1280px;
	overflow:hidden;
	text-align:right;
}

#legal{
	margin-left:auto;
	margin-right:auto;
	max-width:1280px;
	height:100%;
	font-size:16px;
	text-align:left;
	cursor:default;
}

#valid{
	position:relative;
	width:1280px;
	height:33px;
	margin-right:auto;
	margin-left:auto;	
	padding-left:550px;
	padding-right:550px;
}

#hotspot{
	position:fixed;
	top:0px;
	width:100%;	
}
/* 
CSS3 Highlight color change for FF, not in the CSS3 spec anymore == doesn't validate, saidfais 
Here for nostalgia reasons :D
::-moz-selection {
	color:#19A2DE; 
}
*/

/*
old stuff, here for reference

.main_cont #vex .content .t_l_image{
	width:318px;
	height:246px;
	font-size:24px;
	background-image:url(images/r_vex.png);
}


.main_cont #mentors .content .t_l_image{
	width:387px;
	height:259px;
	font-size:24px;
	background-image:url(images/mentor.png);
}
*/